* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

:root {
    --primary: #4fff00;
    --dark: #000000;
    --light: #f9f9f9;
    --secondary: #37ab02;
}

header {
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: var(--primary);
    text-decoration: none;
}

.nav-links a {
    margin-left: 25px;
    text-decoration: none;
    color: var(--dark);
    font-weight: 500;
}

.nav-links a:hover {
    color: var(--primary);
}

.active {
    background-color: var(--primary);
    border-radius: 20px;
    padding: 10px;
    border: 3px solid var(--dark);
    transition: 0.3s ease;
}

.active:hover {
    background-color: var(--secondary)
}

.cart-btn {
    box-sizing: content-box;
    position: relative;
    background: var(--primary);
    color: #000 !important;
    padding: 8px 18px;
    border-radius: 25px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 4px 10px rgba(89, 236, 5, 0.4);
    transition: 0.3s ease;
    margin-top: 3px;
}

.cart-btn:hover {
    background: var(--secondary);
    color: white !important;
}

.cart-icon {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.cart-count {
    background: #000;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 50%;
    min-width: 20px;
    text-align: center;
}

.login-btn {
    box-sizing: content-box;
    position: relative;
    background: var(--primary);
    color: #000 !important;
    padding: 8px 18px;
    border-radius: 25px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 4px 10px rgba(89, 236, 5, 0.4);
    transition: 0.3s ease;
    margin-left: 2px !important;
}

.login-btn:hover {
    background: var(--secondary);
    color: var(--light) !important;
}

.login-icon {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.user-btn {
    box-sizing: content-box;
    position: relative;
    background: var(--primary);
    color: #000 !important;
    padding: 8px 18px;
    border-radius: 25px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 4px 10px rgba(89, 236, 5, 0.4);
    transition: 0.3s ease;
    margin-left: 2px !important;
}

.user-icon {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

footer {
    background: #222;
    color: #ccc;
    text-align: center;
    padding: 20px;
}

.shop-container {
    padding: 40px 60px;
    background: var(--light);
    min-height: 80vh;
}

.shop-title {
    font-size: 32px;
    margin-bottom: 30px;
    color: var(--dark);
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.product-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
}

.product-card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.product-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.product-info {
    padding: 15px;
}

.product-name {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-price {
    font-weight: bold;
    color: var(--secondary);
    margin-bottom: 15px;
}

.product-desc {
    font-size: 17px;
    margin-bottom: 10px;
}

.view-btn {
    text-decoration: none;
    display: inline-block;
    background: var(--primary);
    color: #000;
    padding: 8px 14px;
    border-radius: 20px;
    font-weight: 600;
    transition: 0.3s;
}

.view-btn:hover {
    background: var(--secondary);
    color: white;
}

.cart-container {
    width: 80%;
    margin: auto;
    background-color: #fff;
}

.cart-container h1 {
    margin: 15px 0;
}

.cart-item {
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.cart-item-image {
    height: 120px;
    width: 120px;
    border-radius: 5%;
    object-fit: cover;
}

.cart-item-name {
    font-size: 20px;
    font-weight: bold;
}

.cart-item-qty {
    font-size: 20px;
    font-weight: bold;
}

.cart-item-price {
    font-size: 17px;
    font-weight: bold;
    color: var(--secondary);
}

.cart-method-block {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-left: 10px;
}

.cart-add-btn {
    background-color: #4fff00;
    text-decoration: none;
    color: var(--dark);
    font-size: 20px;
    font-weight: 800;
    padding: 10px 15px;
    border-radius: 50%;
    text-align: center;
}

.cart-add-btn:hover {
    background-color: var(--secondary);
    color: #fff;
    transition: 0.3s ease;
}

.cart-minus-btn {
    text-align: center;
    background-color: #ff1100;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    color: var(--dark);
    padding: 10px 15px;
    border-radius: 50%;
}

.cart-minus-btn:hover {
    background-color: #c70303;
    color: #fff;
    transition: 0.3s ease;
    text-align: center;
}

.cart-remove-btn {
    color: white;
    background-color: var(--dark);
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
    margin-left: 50px;
}

.cart-remove-btn:hover {
    background-color: #a4a1a1;
    color: var(--dark);
    transition: 0.3s ease;
}

.cart-checkout-container {
    margin: 50px;
    display: flex;
    justify-content: flex-end;
}

.cart-checkout-box {
    width: 50vw;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 20px;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
}

.cart-checkout-title {
    font-size: 25px;
    margin-top: 6px;
    font-weight: 600;
}

.cart-checkout-price {
    color: var(--secondary);
    font-size: 25px;
    font-weight: 500;
    margin-top: 6px;

}

.checkout-btn {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 12px;
    background-color: var(--dark);
    width: 8rem;
    text-align: center;
    border-radius: 20px;
}

.checkout-btn:hover {
    background-color: #a4a1a1;
    color: var(--dark);
    transition: 0.3s ease;
}

.auth-container {
    width: 50%;
    margin: auto;
}

.auth-box {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 12px rgb(252, 225, 172);
    height: auto;
}

.auth-box form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.auth-input-block {
    display: flex;
    flex-direction: column;
}

.auth-lable label {
    font-size: 27px;
}

.auth-input input {
    width: 90%;
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
}

.auth-btn {
    background-color: var(--primary);
    padding: 10px;
    border-radius: 20px;
    width: 20%;
    font-size: 18px;
    text-decoration: none;
    color: var(--dark);
    font-weight: 600;
    border: 3px solid black;
}

.auth-btn:hover {
    background-color: var(--secondary);
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}

.auth-box h3 {
    margin-bottom: 20px;
    margin-left: 10px;
}

.auth-box h3 a {
    margin-left: 5px;
}

.profile-container {
    background: #f4f4f4;
    height: 80vh;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-card {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 60vw;
    height: 60vh;
}

.profile-card h2 {
    margin-bottom: 30px;
    font-size: 60px;
}

.btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.btn {
    text-decoration: none;
    padding: 20px;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    transition: 0.3s;
    width: 40vw
}

.orders-btn {
    background: #4CAF50;
}

.orders-btn:hover {
    background: #3e8e41;
}

.logout-btn {
    background: #e74c3c;
}

.logout-btn:hover {
    background: #c0392b;
}

.order-container {
    display: flex;
    flex-direction: column;
}

.order-container h2 {
    padding: 20px;
}

.order-box {
    width: 95vw;
    margin: auto;
    box-shadow: 0 4px 12px antiquewhite;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 450px;
}

.order-detail {
    font-size: 20px;
}

.order-detail h4 {
    margin-top: 10px;
}

.order-detail li {
    list-style: none;
    margin-left: 20px;
}

.order-total {
    color: var(--secondary);
    font-weight: 800;
    font-size: 30px;
    align-content: center;
}

.home-hero {
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1512436991641-6745cdb1723f");
    background-size: cover;
    display: flex;
    background-position: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.home-hero h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.home-hero p {
    font-size: 25px;
}

.home-hero-btn {
    background-color: var(--primary);
    padding: 14px 35px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-radius: 25px;
    margin-top: 20px;

}

.home-hero-btn:hover {
    transition: 0.3s ease;
    background-color: var(--secondary);
}

.home-shop-container {
    height: 750px;
    margin: 30px 0;
    padding: 20px 15px;
}

.home-shop-container h1 {
    font-size: 30px;
    margin-left: px;
    margin-bottom: 30px;
    width: 25%;
    padding: 17px 10px 17px 10px;
    border-radius: 0 25px 0 25px;
    background: linear-gradient(to left, #51ea0a, #5fc862);
}

.home-shop-box {
    background-color: #a7ff7ec7;
    height: 80%;
    padding: 10px;
    display: flex;
    border-radius: 25px;
    flex-direction: row;
    gap: 35px;
    justify-content: center;
}

.home-shop-card {
    margin: 25px 20px;
    background-color: #fff;
    border-radius: 25px;
    width: 25%;
    height: 90%;
    overflow: hidden;
}

.home-shop-card:hover {
    transform: scale(1.05);
    transition: 0.3s ease;

}

.home-shop-card img {
    height: 55%;
    width: 100%;
    object-fit: cover;
}

.home-shop-card-details {
    height: 45%;
    padding: 20px;
    align-items: center;
}

.home-p {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bolder;
}

.home-shop-btn {
    margin-top: 20px;
    margin-left: 20px;
    padding: 15px 25px;
    border-radius: 30px;
}